@fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline')
}

* {
  box-sizing: border-box;
  /* margin: auto; */
}

body {
  font-family: 'Allerta Stencil', sans-serif;
}

.row>nav{
  transition: all 0.3s;
  transition-delay: 0.2s;
}

.bg-black { 
  background-color: black;
  opacity: 1;
}

.background-header {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.8) 100%), url('../src/images/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.center-relative{
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
}

#avatar {
  width: 170px;
  height: 170px;
  border: 0px;
  border-radius: 50%;
  transition: all 1s;
  animation: scaleShadow 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#avatar:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  box-shadow: 0px 1px 12px 10px rgb(230, 224, 224);
}

#footerImg {
  width: 100vw;
  height: 10vh;
  position: absolute;
  bottom: 0;
}

.logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#footerImg img {
  transition: all 1s;
}

#footerImg img:hover {
  transform: scale(1.1);
}

.wrap {
  height: auto;
}

.shadow{
  box-shadow: 2px 3px 10px -2px black;
}

div#title p{
  font-weight: bold;
}

#footer {
  width: 100%;
  height: 300px;
  padding: 20px;
  background-color: black;
}

.leftBackground {
  background-color: black
}

.EducationItem {
  height: 200px;
}

.text1 {
  font-size: 20px;
  letter-spacing: 1px;
}

.text2>p {
  font-weight: bold;
  text-transform: uppercase;
  color: grey;
}

#ButtonBack {
  transition: all 0.4s;
  position: sticky;
  bottom: 0;
}

#ButtonBack:hover {
  transform: scale(1, 1.1);
}

#back{
  position: absolute;
  font-size: 50px;
  bottom: 10px;
  color: black;
  right: 20px;
}

@media (max-width: 600px) {
  #footer {
    height: 200px;
  }

  .EducationItem {
    height: 100px;
  }
}

@keyframes scaleShadow {
  from {
    box-shadow: 1px 1px 12px 1px rgb(230, 224, 224);
  }
  to {
    box-shadow: 1px 1px 12px 8px rgb(230, 224, 224);
  }
}