@fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline')
}

* {
  box-sizing: border-box;
  /* margin: auto; */
}

#home {
  position: relative;
}

body {
  font-family: 'Allerta Stencil', sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}


.row>nav{
  transition: all 0.1s;
  transition-delay: 0.1s;
}

.bg-black { 
  background-color: #222;
  opacity: 1;
}

.background-header {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.8) 100%), url('../src/images/IMG_1203.PNG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.center-relative{
  position: relative; 
  left: 50%;
  transform: translateX(-50%);
}

#avatar {
  width: 170px;
  height: 170px;
  border: 0px;
  border-radius: 50%;
  transition: all 1s;
  animation: scaleShadow 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  object-fit: cover;
  object-position: 50% 50%;
}

#avatar:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  box-shadow: 0px 1px 12px 10px rgb(230, 224, 224);
}

#footerImg {
  width: 100vw;
  height: 10vh;
  position: absolute;
  bottom: 0;
}

.logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#footerImg a{ 
  transition: all 0.6s;
}

#footerImg a:hover {
  transform: scale(1.05);
}

#footerImg a:hover img{
  box-shadow: 0 0 10px 5px #ccc;
}

#footerImg img {
  border-radius: 50%;
  transition: all 1s;
}

#footerImg img:hover {
  transform: scale(1.1);
}

.wrap {
  height: auto;
}

.shadow{
  box-shadow: 2px 3px 10px -2px black;
}

div#title p{
  font-weight: bold;
}

#footer {
  height: 200px;
  padding: 20px;
  background-color: #222;
}

.leftBackground {
  background-color: #222
}

.EducationItem {
  height: 200px;
}

.text1 {
  font-size: 20px;
  letter-spacing: 1px;
}

.text2>p {
  font-weight: bold;
  text-transform: uppercase;
  color: grey;
}

#ButtonBack {
  transition: all 0.4s;
  position: sticky;
  bottom: 0;
}

#ButtonBack:hover {
  transform: scale(1, 1.1);
}

#back{
  position: absolute;
  font-size: 50px;
  bottom: 10px;
  color: #222;
  right: 20px;
}

ul.navbar-nav li a{
  color: white !important;
}

table tr td{
  padding-bottom: 15px !important;
}

table tr th{
  padding-right: 1.5rem!important;
  padding-bottom: 15px !important;
}

@media (max-width: 650px) {
  #footer {
    height: 100px;
  }

  #AboutTable {
    margin-left: 2.5rem;
  }

  #aboutText {
    display: block;
  }
  #aboutText p {
    padding: 0.5rem;
  }
  .row #aboutTextP {
    padding: 0.5rem;
  }

  .EducationItem {
    height: auto;
  }

  .row .skill {
    width: 50%;
  }

  #back {
    bottom: 0;
    font-size: 30px;
  }
}

@keyframes scaleShadow {
  from {
    box-shadow: 1px 1px 12px 4px rgb(230, 224, 224);
  }
  to {
    box-shadow: 1px 1px 12px 8px rgb(230, 224, 224);
  }
}